body {
    padding-top: 0px;
    padding-bottom: 0px;
}

.col-md-12{
    padding-right: 0px;
}

.row{
    margin-right: 0px;
}

.event-pictures{
    height: 200px;
}

a {
    color: #004990;
}

    a:hover {
        color: #007bff;
    }

.swal-club a{
    color: white;
}

.swal-club a:hover {
    color: white;
}